<link rel="stylesheet" href="../css/styles.css">
<header>
  <a href="/">Home</a>
  <h1>Cart ID {{cart._id}}</h1>
  <div>
    {{#if isLogin}}
      <a href="/user">Bienvenido {{user.first_name}} {{user.last_name}}</a>
    {{else}}
      <a href="/login">Inicia sesión aquí</a>
    {{/if}}
  </div>
  
</header>
<main>
    <div id="productsList">
        {{#each cart.products}}
            <div class="product">
                <div style="display: grid; place-content: center;">
                    <img src="{{_id.thumbnails}}" alt="{{_id.title}}" style="aspect-ratio: 1; width: 200px; object-fit: cover;"/>
                </div>
                <h2>Title: {{_id.title}}</h2>
                <h2>Price: ${{_id.price}}</h2>
                <p>{{_id.description}}</p>
                <p>{{_id.quantity}}</p>
            </div>
        {{/each}}
    </div>
    <form action="/api/carts/{{cart._id}}/purchase" method="post">
        <button type="submit">Comprar productos</button>
    </form>
</main>
